<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ClojureBridge London</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheet.css">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="twitter:description" content="ClojureBridge aims to increase diversity within the Clojure community by offering free, beginner-friendly Clojure programming workshops for those who identify as women, transgender and non-binary.">
    <meta name="description" content="ClojureBridge aims to increase diversity within the Clojure community by offering free, beginner-friendly Clojure programming workshops for those who identify as women, transgender and non-binary.">
  </head>

  <body>
    <header class="container">
      <a href="http://clojurebridgelondon.github.io/">
        <img class="logo" src="/images/clojurebridge-logo.png">
      </a>
    </header>

    {{content}}
  </body>

</html>
